<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<Context path="/jira" docBase="/usr/share/jira"
        privileged="false" allowLinking="true">

  <!-- WARNING: It is highly remomended to use real database instead of
       internal hsqldb. See example config for mysql below -->

  <Resource name="jdbc/JiraDS" auth="Container" type="javax.sql.DataSource"
    username="sa"
    password=""
    driverClassName="org.hsqldb.jdbcDriver"
    url="jdbc:hsqldb:/var/lib/jira/jiradb/"
    minEvictableIdleTimeMillis="4000"
    timeBetweenEvictionRunsMillis="5000"/>
  
  <!-- If you want to use mysql database, comment out previous jdbc resource,
       and uncomment this one. You will also have to customize your
       entityengine.xml.

       Make sure that mysql listens on TCP socket, because java do not know
       how to use UNIX sockets. If you are not sure if mysql is configured
       correctly, try to connect to it with the following command:
       $ mysq -h127.0.0.1 -ujirausername -pjirapassword jiradb
       Note 127.0.0.1, not localhost, which is resolved to UNIX socke path by
       mysql client.
    -->

  <!--

  <Resource name="jdbc/JiraDS" auth="Container" type="javax.sql.DataSource"
    username="jirauser"
    password="jirapassword"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://localhost/jiradb?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF8"
    maxActive="20"
    validationQuery="select 1" />

    -->

	<!-- Example mail session definition for Jira. You can refer it in jira
	   configuration as JNDI: java:comp/env/mail/JiraMS
	
	   Alternatively you can configure mail server via web interface.

       TODO: how to specify SMTP username and password here?
	-->

  <!--

  <Resource name="mail/JiraMS" auth="Container" type="javax.mail.Session"
	 mail.smtp.host="smtp.example.net" />

    -->

  <!-- You realy do not want to edit anythong below this line. -->

  <Resource
    name="UserTransaction"
    auth="Container"
    type="javax.transaction.UserTransaction"
    factory="org.objectweb.jotm.UserTransactionFactory"
    jotm.timeout="60"/>

  <Manager pathname=""/>

</Context>
