<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<Context path="/jira" docBase="/usr/share/jira"
        privileged="false" allowLinking="true">

  <!-- WARNING: It is highly remomended to use real database instead of
       internal hsqldb. See example config for mysql below -->

  <Resource name="jdbc/JiraDS" auth="Container" type="javax.sql.DataSource"
    username="sa"
    password=""
    driverClassName="org.hsqldb.jdbcDriver"
    url="jdbc:hsqldb:/var/lib/jira/jiradb/"
    minEvictableIdleTimeMillis="4000"
    timeBetweenEvictionRunsMillis="5000"/>
  
  <!-- If you want to use mysql database, comment out previous jdbc resource,
       and uncomment this one. You will also have to customize your
       entityengine.xml. -->

  <!--

  <Resource name="jdbc/JiraDS" auth="Container" type="javax.sql.DataSource"
    username="jirauser"
    password="jirapassword"
    driverClassName="com.mysql.jdbc.Driver"
    url="jdbc:mysql://localhost/jiradb?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF8"
    maxActive="20"
    validationQuery="select 1" />

    -->

  <!-- You realy do not want to edit anythong below this line. -->

  <Resource
    name="UserTransaction"
    auth="Container"
    type="javax.transaction.UserTransaction"
    factory="org.objectweb.jotm.UserTransactionFactory"
    jotm.timeout="60"/>

  <Manager pathname=""/>

</Context>
